{% extends "base.html" %}

{% block head %}
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 100px;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 30px;
      color: #007bff; /* Primary Color */
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 30px;
      color: #495057; /* Text Color */
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      font-size: 1.5rem;
      padding: 15px 40px;
      border-radius: 10px;
    }

    .btn-primary:hover {
      background-color: #0056b3; /* Darker shade on hover */
      border-color: #004080; /* Darker shade on hover */
    }

    .bordered {
      border: 1px solid #dee2e6; /* Border Color */
      border-radius: 8px;
    }

    .bg-light {
      background-color: #fff; /* Light Background Color */
    }
  </style>
{% endblock head %}

{% block content %}
  <div class="container text-center bg-light ">

    <div class="bordered p-5 m-4 p-3">
      <h1>Welcome to BoQ Taking Off!</h1>
      <p class="lead">Step into efficiency with our cutting-edge platform, designed to streamline your processes and elevate your experience. Thank you for choosing BoQ Taking Off—we're here to support your success every step of the way!</p>
    </div>

    <p>Login to access the system:</p>
    <div class="p-4">
      <a href="/login" class="btn btn-primary py-2">Login</a>
    </div>

  </div>
{% endblock %}
